
/* Services */
section{
    padding: 100px 160px;
}
#services{
    height:100% ;
    background-color: rgb(253, 248, 253);
    padding-bottom: 100px;
}
.title{
    /* padding-top: 60px; */
    position: relative;
    top: 130px;
    display: flex;
    justify-content: center;
    color: #254ebe;
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-right: 0px; 
    position: relative;
    top: 100px;
}

.card{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    margin: 15px;
    transition: 0.7s ease;
    height: 500px;
    /* margin: 30px; */
    box-sizing: border-box;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: #0e6ee3;
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: #0e6ee3;
    font-size: 1.2em;
    font-weight: 700;
    
}
.card img{
    height: 300px;
    width:100%;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
#check{
    position: relative;
    top: 250px;
    height: 50px;
}
.btndetail{
    text-decoration: none;
    background-color: #753df0;
    border: 1px solid #b19de1;
    padding:10px ;
    border-radius: 5px;
    position: relative;
    left: 90px;
    top: 10px;
    width: 100px;
    color: #fff;
    
}
#search{
    position: relative;
    top: 100px;
}