<app-header></app-header>
<!-- <div class="container">
    <form
      [formGroup]="searchForm"
      class="searchBar"
      (ngSubmit)="onSearchSubmit()"
    >
      <input
        type="text"
        placeholder="Search..."
        formControlName="searchValue"
        class="searchBarInput"
      />
    </form>
    <div class="articlesTable">
      <div class="article" *ngFor="let article of articles">
        {{ article.title }}
      </div>
    </div>
  </div> -->
<div class="cards" id="services">
    <h2 class="title">Events</h2>
    <div class="content">
      <div *ngFor="let item of eventlist">
        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img [src]='item.picture' class="mx-auto d-block"/>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">Date: {{item.date| date}}.</p>
              <p class="card-text">Date Limite: {{item.dateL| date}}.</p>
              <a [routerLink]="['/home',item.id]" class="btn btn-primary" *ngIf="item.disponible">Details</a>
              <p class="text-secondary" *ngIf="!item.disponible">Coming soon...</p>
            </div>
          </div>
        </div>
        
  </div>