
<header>
    <!-- Logo -->
    <a routerLink="/home" class="logo">RobotRise</a>

    <!-- Navigation -->
    <nav class="navigation">
        <!-- Navigation links -->
        <a routerLink="/home">About us</a>
        <a routerLink="/eventlist">Events</a>
        <a href="#contact">Contact</a>

        <!-- Login/Logout buttons -->
        <a routerLink='/login' id="login" *ngIf="!btn">Login</a>
        <a routerLink='/home' id="logout" *ngIf="btn" (click)="logout()">LogOut</a>
    </nav>
</header>