header{
    background-color:#f3efff ;
    width: 100%;
    position: fixed;
    z-index: 999; 
    /* z-index: the order of the header i gave it a heigher number so it always stays on the top */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px ;
}
.logo{
    text-decoration: none;
    color: #254ebe;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: #254ebe;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    transition: 0.5s ease-in;
}
.c{
    color: #254ebe;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation{
  width: 500px;
  position: absolute;
  right: 0px;
}
.navigation a:hover{
    color:#601cfc; 
}

#login {
    padding: 10px 20px;
    background-color: #254ebe;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    left: 20px;
  }
  #login:hover{
    color:black; 
    transition: 0.5s ease-in;
    
  }
  #logout {
    padding: 10px 20px;
    background-color: rgb(206, 215, 239);
    color: rgb(21, 18, 18)b0b;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    left: 20px;
  }
  #logout:hover{
    color:rgb(197, 229, 238); 
    transition: 0.5s ease-in;
    
  } 
  
  /* dropdown */

  #log{
    float: left;
  }
 .menunav{
  padding: 0;
 }
.navbar-brand {
  font-weight: bold;
}

.navbar-toggler {
  border: none;
}



.dropdown-item {
 
  color: #254ebe;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
  transition: 0.5s ease-in; 
}
#navbarSupportedContent{
  padding: 0;
}
.dropdown-item:hover {
  background-color: #f8f9fa; /* Adjust hover background color */
}

.navbar-toggler {
  padding: 5px; /* Adjust padding */
}

.nav-link {
  font-size: 14px; /* Adjust font size */
}

.dropdown-menu {
  min-width: 120px; /* Adjust minimum width */
}

.dropdown-item {
  font-size: 14px; /* Adjust font size */
}
.navbar-nav .nav-link {
  color: #000; /* Set the desired font color */
}