<section class="py-5 section" >
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" [src]="item.picture"/></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{item.name}}</h1>
                <div class="small mb-1">Event date: {{item.date|date}}</div>
                <div class="small mb-1">Registration deadline: {{item.dateL|date}}</div>
                <div class="fs-5 mb-5">
                    <span >Prize: <span>{{item.prize}}</span></span>
                </div>
                <p class="lead">{{item.detail}}</p>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/participant">Register!</a></div>
                </div>
            </div>
        </div>
    </div>
</section>