<app-header></app-header>
<section class="py-5 section">
        <div class="container">
            <div class="cycle_section_2 layout_padding">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box_main">
                            <div class="image_2">
                                <img [src]="item.picture" alt="{{item.name}}">
                            </div>
                            </div>
                        </div>
                    <div class="col-md-6" style="padding-left:80px ;">
                        <h1 class="cycles_text">{{item.name}}</h1>
                        <h4 class="price_text">Event date: {{item.date | date}}</h4>
                        <h4 class="price_text">Registration deadline: {{item.dateL | date}}</h4>
                        <h4 class="price_text">Prize : <span style=" color: #325662">{{item.prize}}</span></h4>
                        <p class="lorem_text">{{item.detail}}</p>
                        <div class="btn_main">
                            <a (click)="Redicrect(item.id)" class="btn btn-primary btn-lg">Register!</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
 <app-footer></app-footer>
