<!-- <section class="py-5 section">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0 rounded" [src]="item.picture" alt="{{item.name}} Image">
            </div>
            <div class="col-md-6">
                <h1 class="display-4 fw-bolder">{{item.name}}</h1>
                <div class="small mb-2">Event date: {{item.date | date}}</div>
                <div class="small mb-2">Registration deadline: {{item.dateL | date}}</div>
                <div class="fs-4 mb-4">
                    <span class="text-primary">Prize: <span>{{item.prize}}</span></span>
                </div>
                <p class="lead">{{item.detail}}</p>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto"  [routerLink]="['/participer',item.id]">Register!</a></div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<app-header></app-header>

<section class="py-5 section">
        <div class="container">
            <div class="cycle_section_2 layout_padding">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box_main">
                            <div class="image_2">
                                <img [src]="item.picture" alt="{{item.name}}">
                            </div>
                            </div>
                        </div>
                    <div class="col-md-6" style="padding-left:80px ;">
                        <h1 class="cycles_text">{{item.name}}</h1>
                        <h4 class="price_text">Event date: {{item.date | date}}</h4>
                        <h4 class="price_text">Registration deadline: {{item.dateL | date}}</h4>
                        <h4 class="price_text">Prize : <span style=" color: #325662">{{item.prize}}</span></h4>
                        <p class="lorem_text">{{item.detail}}</p>
                        <div class="btn_main">
                            <div class="buy_bt" [routerLink]="['/participer',item.id]"><a href="#">Register!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
 <app-footer></app-footer>