/* Custom styles for enhanced aesthetics


.card-img-top {
    max-width: 100%;
    height: auto;
}

.display-4 {
    color: #007bff; /* Primary text color 
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

 Adjustments for small screens 
@media (max-width: 768px) {
    .col-md-6 {
        order: 2; /* Swap order on smaller screens for better responsiveness 
    }
} */
 .section {
    height: 900px;
}
h1,
h4{
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h4 {
    font-size: 16px
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    transition: all .3s ease-in-out;
    background-color :#446ee1 ;
    color: white;
    padding: 10px;
   
    
    
}

img {
    max-width: 100%;
    height: auto;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}


.cycle_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.cycle_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin: 0px;
}
.cycle_section_2{
    width: 100%;
    float: left;
}
.box_main{
    width: 600px;
    float: left;
    position: relative;
    left: -100px;
}

.image_2 {
    width:600px;
    /* float: left; */
    text-align: center;
     padding-left: 40px;
    padding-top: 80px; 
}
img{width:500px;
}
.box_main:after{
    content: '';
    background-color: rgb(18, 61, 111);
    position: absolute;
    width: 500px;
    right: 0px;
    top: 60px;
    margin: 0 auto;
    display: flex;
    height: 470px;
    left: 0;
    z-index: -1;

}
.cycles_text{
    width: 100%;
    float: left;
    font-size: 40px;
    color: #000000;
    font-weight: bold;
    text-align: right;
    padding-top: 40px;
}
.cycles_text:after {
    content: '';
    position: absolute;
    width: 180px;
    height: 1px;
    background-color: #325662;
    left: 0px;
    right: initial;
    margin: 0 auto;
    top: 70px;
}
.lorem_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000000;
    margin: 0px; 
    padding-top: 40px;   
}

.btn_main{
    width: 100%;
    display: flex;
    padding-top: 50px;
}
.buy_bt{
    width: 170px;
    float: left;
}
.buy_bt a{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #325662;
    padding: 8px 5px;
    text-align: center;
    font-weight: bold;
}
.buy_bt a:hover{
    color: #ffffff;
    background-color: #f7c17b;
}

.price_text {
    width: 100%;
    float: left;
    text-align: left;
    font-size: 20px;
    color: #222222;
    font-weight: bold;
    padding-top: 8px;
}
