
<section class="main">
    <div class="intro">
        <h2>Hello,we are <br> <span> RobotRise</span></h2>
        <h3>Rejoignez notre Club de Robotique : <br> Concevez, construisez et participez à des compétitions ! </h3>
        <a href="#projects" class="main-btn"> View my work</a>
        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-solid fa-envelope"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
        </div>
    </div>
</section>
<section class="cards" id="services">
    <h2 class="title">Services</h2>
    <div class="content">
        <div class="card">
            <div class="icon">
                <i class="fa-solid fa-code"></i>
            </div>
            <div class="info">
                <h3>Web Development</h3>
                <p>Design and build websites for individuals or small 
                     businesses</p>
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fa-solid fa-code"></i>
            </div>
            <div class="info">
                <h3>Web Development</h3>
                <p>Design and build websites for individuals or small 
                     businesses</p>
            </div>
        </div>
    </div>
</section>
