
#container{
  display: inline-block
} 
.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0; 
  width: 200px; 
 
 
}

.router-container {
  text-align: center;
  margin-left: 230px;
   padding:30px 35px;
 
}

.img-account-profile {
  height: 10rem;
}
.rounded-circle {
  border-radius: 50% !important;
}