.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
#img2{
    position: relative;
    top: -100px;
}
#sec{
    background: url(/assets/signup_in/art.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#form{
    background-color: #eee;
    padding: 40px 40px;
    border-radius: 10px;
    position: relative;
    top: 60px;
}
#sign{
    font-size: 30px;
    padding: 30px 0 ;
    color:#13237e;
    font-weight: bolder;
}
#sign_div{
    text-align: center;
}
#btn_login{
    position: relative;
    right: -140px;
}
#signup{
    position: relative;
    right:50px ;
}