<div class="area">
    <nav class="main-menu">
            <ul>
                <li>
                    <a [routerLink]=''>
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa-regular fa-bell fa fa-comments fa-2x"></i>
                        <span class="nav-text">
                            Notifications
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a routerLink="admin/listeAdmin">
                       <i class="fa fa-comments fa-2x"></i>
                        <span class="nav-text">
                            Admins list
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a routerLink="admin/listeMembre">
                       <i class="fa fa-camera-retro fa-2x"></i>
                        <span class="nav-text">
                            Members List
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a routerLink="admin/event">
                        <i class="fa fa-film fa-2x"></i>
                        <span class="nav-text">
                            Events
                        </span>
                    </a>
                </li>
                <!-- <li>
                    <a href="#">
                        <i class="fa fa-book fa-2x"></i>
                        <span class="nav-text">
                           Surveying Jobs
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                       <i class="fa fa-cogs fa-2x"></i>
                        <span class="nav-text">
                            Tools & Resources
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Member Map
                        </span>
                    </a>
                </li>-->
                <li> 
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                          Account Settings
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a (click)="logout()">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
    </div>