<div class="area">
    <nav class="main-menu">
            <ul>
                <li>
                    <a [routerLink]="['/admin/account']">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a routerLink="/admin/listeAdmin">
                       <i class="fa fa-list-ul fa-2x"></i>
                        <span class="nav-text">
                            Admins list
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a routerLink="/admin/listeMembre">
                       <i class="fa fa-list-ul fa-2x"></i>
                        <span class="nav-text">
                            Members List
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a routerLink="/admin/liste">
                        <i class="fa fa-calendar-plus fa-2x"></i>
                        <span class="nav-text">
                            Events
                        </span>
                    </a>
                </li>
                <li> 
                    <a [routerLink]="['/admin/settings']">
                       <i class="fa fa-gear fa-2x"></i>
                        <span class="nav-text">
                          Account Settings
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a (click)="logout()">
                         <i class="fa fa-power-off fa-2x  log"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
    </div>