/* #container{
    /* zight: ;
}
.nav{
    height:70px ;
} */
.form{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.gradient-custom {
    
    background: url(/assets/backgroundtest.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    #phone{
        position: relative;
        top: -106px;
    }

    input.ng-valid{
        border-left: 3px solid green;
    }
    input.ng-invalid{
        border-left: 3px solid red;
    }
   