input.ng-valid{
    border-left: 3px solid green;
}
input.ng-invalid{
    border-left: 3px solid red;
}
.gradient-custom {
    
    background: url(/assets/backgroundtest.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    .form-outline{
        position: relative;
        
    }
    .container{
        width: 800px;
    }