<!-- <h1>Liste des request</h1>
<ul>
    <li *ngFor="let item of request">


    </li>
</ul> -->
<div class="container">
    <div class="container">
    <div class="container">
        <div class="row col-md-6 col-md-offset-2 custyle">
        <table class="table table-striped custab">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let user of requests">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phoneNumber}}</td>
              </tr> -->
              {{requests | json}}
        </tbody>
        </table>
        </div>
    </div>